.oyijon{
    margin-left: 25px;
}

.oq-bulut{
    margin-left: 25px;
}

.kel-yashaylik{
    margin-left: 25px;
}

a{
    text-decoration: none;
}

.mood{
    margin-left: 50px;
}

.happy{
    width: 300px;
    height: 200px;
}

.sad{
    height: 200px;
    width: 300px
}